:root {
  --primary-font: "Public Sans", "san serif";
  --secondary-font: "Poppins", "san serif";
  --primary-color-black: #152427;
  --text-color-black-gray: #575d5e;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
  font-style: normal;
}
.container {
  margin: 0 auto;
  width: 1140px;
}
.heading {
  color: var(--primary-color-black, #152427);
  font-family: var(--primary-font);
}
.heading.lv1 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
}
.heading.lv2 {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.2381;
}
.desc {
  font-family: var(--primary-font);
  color: var(--text-color-black-gray, #575d5e);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55556;
}
.btn {
  --height: 57px;
  color: #fff;
  text-align: center;
  font-family: var(--primary-font);
  line-height: var(--height);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  display: inline-block;
  padding: 0px;
  border: 0px;
  padding-inline: 54px 52px;
  border-radius: 40px;
  background-color: #143c3c;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
