/* Header */
.header__body {
  margin-top: 28px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 88px;
}

.header-nav__list {
  display: flex;
  align-items: center;
  gap: 38px;
  color: #7d8188;
  font-family: var(--primary-font);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.header-nav__link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.header-nav__link:hover {
  color: #152427;
}

.header-nav__link::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  display: none;
  width: 16px;
  height: 2px;
  background-color: #152427;
}

.header-nav__link:hover::after {
  display: block;
}

.header__decor {
  margin-top: 12px;
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    18deg,
    #fff 0%,
    #dddcdc 51.25%,
    rgba(212, 212, 212, 0) 100%
  );
}
/* Hero */
.hero__body {
  display: flex;
  align-items: center;
}
.hero-left {
  width: 38%;
  margin-right: 73px;
  position: relative;
  padding-right: 60px;
}
.hero__desc {
  margin-top: 20px;
}
.hero__cta {
  margin-top: 42px;
  display: flex;
  flex-wrap: nowrap;
}
.hero-cta__btn {
  margin-right: 36px;
  flex-shrink: 0;
}
.btn-cta__link {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  color: var(--primary-color-black);
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.66;
}
.btn-cta__link:hover .btn-cta-link__icon--outer::before {
  right: -0.7em;
  border-radius: 0 9999px 9999px 0;
  left: unset;
}
.btn-cta__link:hover .btn-cta-link__icon--outer::after {
  right: unset;
  left: -0.7em;
}
.btn-cta-link__icon--outer {
  font-size: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.4em;
  height: 4.4em;
  border-radius: 50%;
  outline: 0.2em solid #fff;
  margin-right: 1.5em;
  background-color: #83a17d;
}
.btn-cta-link__icon--outer::after,
.btn-cta-link__icon--outer::before {
  content: "";
  position: absolute;
  top: -0.7em;
  height: calc(100% + 1.4em);
}
.btn-cta-link__icon--outer::before {
  left: -0.7em;
  z-index: -2;
  width: calc((100% / 2) + 1.4em);
  border-radius: 9999px 0 0 9999px;
  background-color: var(--primary-color-black);
}
.btn-cta-link__icon--outer::after {
  right: -0.7em;
  z-index: -1;
  width: calc((100% / 2) + 1em);

  background-color: #fff;
}
.btn-cta-link__icon {
  width: 1.2em;
  height: 1.2em;
  color: #fff;
}
.hero__decor-wrapper {
  position: absolute;
  top: -71px;
  right: 30px;
}
.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-right: 25px;
}
.hero__img-wrapper {
  flex: 1;
  border-radius: 110px;
  height: 446px;
}
.hero-right .hero__img-wrapper:nth-child(2) {
  margin-top: 77px;
}
.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.hero__decor-eclipse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 340px;
  height: 340px;
  border-radius: 340px;
  background: #4dbb9a;
  filter: blur(137px);
}

.hero__decor {
  width: 100%;
  object-fit: cover;
}
/* .hero-right .hero__decor-wrapper:nth-last-child(1) {
  top: unset;
  left: unset;
  bottom: -83px;
}
.hero-right .hero__decor-wrapper:nth-last-child(2) {
  width: 72px;
  height: 73px;
  top: unset;
  left: unset;
  right: 0;
  bottom: -45px;
  z-index: 1;
} */
/* Agency */
.agency {
  margin-top: 130px;
}
.agency-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 76px 122px;
  border-radius: 100.5px;
  background-color: #e2eddf;
}
.agency__brand-wrapper {
  flex: 1;
}
.agency__brand {
  width: 100%;
  object-fit: cover;
}
/* Services */
.services {
  margin-top: 106px;
}
.services__content {
  position: relative;
  margin-right: 73px;
}
.services__heading {
  margin-top: 12px;
  max-width: 520px;
}
.services__heading::after {
  right: 120px;
  bottom: 19px;
}
.services__cta {
  position: absolute;
  right: 0;
  top: calc(50% + 12px);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 17px;
}
.services__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  color: var(--primary-color-black);
  background-color: #e2eddf;
  border: 0px;
  padding: 0px;
}
.services__btn:hover {
  color: #fff;
  cursor: pointer;
  background-color: var(--primary-color-black);
}

.services-btn__icon-right {
  transform: rotate(-180deg);
}
/* Service card */
.services__list {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-top: 76px;
}
.services__card {
  flex: 1;
  transition: all 0.3 ease-in;
}
.services__card:hover {
  border-radius: 20px;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.services__card:hover .services-card__content {
  margin-left: 18px;
}
.services-card__thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 318px;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}
.services-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services-card__content {
  margin: 24px 84px 24px 0px;
  transition: all 0.3 ease-in;
}
.services-card__heading {
  color: var(--primary-color-black, #152427);
  font-family: var(--secondary-font);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2;
}
.services-card__desc {
  margin-top: 18px;
  color: var(--text-color-light-gray, #7d8188);
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71429; /* 171.429% */
}
